*{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}


.blue-wrapper{
    background: #DDE6E6;;
    padding: 10px 2px 60px 2px;
    border-radius: 10px;

}
.blue-wrapper h1{
 font-size: 30px;
}
.center{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
margin: 20px auto auto auto;
width: 95%;
}

.drop-down{
    width: 140px;
    padding: 2px 5px;
    color: #6c6c6c;
    margin: 0 0 20px 0;
    font-size: 18px;
}

.pass-card{
    padding: 10px;
    background-color: rgb(0 62 133) ;
    width: 400px;
    max-width: 90%;
    color: #e5e5e5;
    margin: 5px 0;
    position: relative;
    border-radius: 5px;
}

.pass-card h1{
    font-size: 23px;
    font-weight: 500;
    margin: 10px 0 0 0;
}

.pass-card h2{
    font-size: 20px;
    font-weight: 500;
}

.booking-antal{
    position: absolute;
    top: 0px;
    right: 42px;
}

.booking-btn{
    position: absolute;
    bottom: 10px;
    right: 10px;   
    cursor: pointer;
    letter-spacing: 1px;
}

.admin-edit-btn{
  position: absolute;
  bottom: 10px;
  right: 10px;   
  cursor: pointer;
  letter-spacing: 1px;
}

.booking-btn-delete{
  position: absolute;
  bottom: 10px;
  left: 10px;
}

.aktv-tid-div{
    display: flex;
    flex-direction: column;

}


#check-modal{
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0px;
    background-color: rgba(0, 0, 0, .5);
    display: none;
    justify-content: center;
    align-items: center;
}

.booking-modal{
    background-color: #344257;
    padding: 30px;
    color: white;
    text-align: start;
    display: flex;
    flex-direction: column;
}

.booking-modal button{
    font-size: 16px;
    width: 50px;
    align-self: center;
    cursor: pointer;
}

.check-icon{
    color: green;
    align-self: center;
    font-size: 120px;
}

.booking-modal a{
    color: white;
}

.pass-redigera-btn{
  position: absolute;
  bottom: 10px;
  left: 10px;
  padding: 3px !important;
  cursor: pointer;
  font-size: 11px;
  border-radius: 10px;
}

.staff-btn-delete{
  position: absolute;
  bottom: 10px;
  left: 10px;
  padding: 8px !important;
  cursor: pointer;
  font-size: 11px;
  border-radius: 10px;
}

.update-modal-wrapper-pass{
    width: 90vw;
    height: 87vh;
    background-color: rgb(227 227 227);
    border-radius: 3px;
    overflow: auto;
    position: relative;
    top: 30px;
    position: fixed;
}
.booking-page-header-desktop {
    display: none;
}
.booking-page-header-mobile{
   width: 90%;
   text-align: left;
}



/*  */

.react-calendar {
    width: 370px;
    max-width: 100%;
    border-radius: 10px;
    border: 1px solid transparent;
    background: white;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.125em;
    box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.25);
  }
  .react-calendar--doubleView {
    width: 700px;
  }
  .react-calendar--doubleView .react-calendar__viewContainer {
    display: flex;
    margin: -0.5em;
  }
  .react-calendar--doubleView .react-calendar__viewContainer > * {
    width: 50%;
    margin: 0.5em;
  }
  .react-calendar,
  .react-calendar *,
  .react-calendar *:before,
  .react-calendar *:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }
  .react-calendar button {
    margin: 0;
    border: 0;
    padding: 20px;
    outline: none;

  }
  .react-calendar button:enabled:hover {
    cursor: pointer;
  }
  .react-calendar__navigation {
    display: flex;
    height: 44px;
    margin-bottom: 3em;
  }
  .react-calendar__navigation button {
    min-width: 44px;
    font-size: 20px;
    background: none;
 padding-bottom: 50px;
  }
  .react-calendar__navigation button:disabled {
    background-color: #f0f0f0;
  }
  .react-calendar__navigation button:enabled:hover,
  .react-calendar__navigation button:enabled:focus {
    background-color: #4a59982e;

  }
  .react-calendar__month-view__weekdays {
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 0.75em;
  }
  .react-calendar__month-view__weekdays__weekday {
    padding: 0.5em;
  }
  .react-calendar__month-view__weekNumbers .react-calendar__tile {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.75em;
    font-weight: bold;
  }
  .react-calendar__month-view__days__day--weekend {
    color: #d10000;
  }
  .react-calendar__month-view__days__day--neighboringMonth {
    color: #757575;
  }
  .react-calendar__year-view .react-calendar__tile,
  .react-calendar__decade-view .react-calendar__tile,
  .react-calendar__century-view .react-calendar__tile {
    padding: 2em 0.5em;
  }
  .react-calendar__tile {
    max-width: 100%;
    padding: 10px 6.6667px;
    background: none;
    text-align: center;
    line-height: 16px;
  }
  .react-calendar__tile:disabled {
    background-color: #f0f0f0;
  }
  .react-calendar__tile:enabled:hover,
  .react-calendar__tile:enabled:focus {
    background-color: #e6e6e6;
  }
  .react-calendar__tile--now {
    background: #ffff76;
  }
  .react-calendar__tile--now:enabled:hover,
  .react-calendar__tile--now:enabled:focus {
    background: #ffffa9;
  }
  .react-calendar__tile--hasActive {
    background: #76baff;
  }
  .react-calendar__tile--hasActive:enabled:hover,
  .react-calendar__tile--hasActive:enabled:focus {
    background: #a9d4ff;
  }
  .react-calendar__tile--active {
    background: #006edc;
    color: white;
  }
  .react-calendar__tile--active:enabled:hover,
  .react-calendar__tile--active:enabled:focus {
    background: #1087ff;
  }
  .react-calendar--selectRange .react-calendar__tile--hover {
    background-color: #e6e6e6;
  }
  
/*  */
.pass-card img{
  position: absolute;
  left: 33px;
  height: 50px;
  width: 50px;
  bottom: 80px;
}

/* START: KNAPP */

.myButton {
  box-shadow: inset 0px 1px 0px 0px #b18414;
  background: linear-gradient(to bottom, #e1982a 5%, #68440c 100%);
  background-color: #a16203;
  border-radius: 3px;
  border: 1px solid #855814;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-family: Arial;
  font-size: 13px;
  padding: 6px 6px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #424242;
  
}
.myButton:hover {
	background:linear-gradient(to bottom, #9c6a1f 5%, #e89a25 100%);
	background-color:#9c6a1f;
}

.myButtonDelete{
  box-shadow: inset 0px 1px 0px 0px #b58210;
  background: linear-gradient(to bottom, #b52516 5%, #68440c 100%);
  background-color: #d14a09;
  border-radius: 3px;
  border: 1px solid #ef6320;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-family: Arial;
  font-size: 13px;
  padding: 6px 6px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #424242;
}

.myButtonDelete:hover {
	background:linear-gradient(to bottom, #9c6a1f 5%, #b92d2b 100%);
	background-color:#9c471f;
}

/* END: KNAPP */


@media screen and (min-width: 800px) {
    .react-calendar__navigation button {
        min-width: 44px;
        font-size: 27px;
        background: none;
        text-transform: capitalize;

      }
    .booking-page-header-mobile{
        display: none;
    }
    .booking-content{
        display: flex;
        justify-content: space-evenly;
    }
    .booking-page-header-desktop {
        display: flex;
height: fit-content;
   width: fit-content;
    }
    .center {
        display: flex;
        justify-content:flex-start;
    }
    
    .booking-page-container{
        margin: 40px auto auto auto;
      background-color: #DDE6E6; 
      width: 97%;
      border-radius: 10px;


    }

.booking-page-header-desktop h1{
margin-left: 30px;
font-size: 40px;
}
    .blue-wrapper{
        width: 40%;
      display: flex;
        text-align: left;
    }
    .blue-wrapper.center h1{
        width: 90%;
    }
    .react-calendar {
        width: 700px;
        height: 65vh;
        max-width: 100%;
        border-radius: 10px;
        border: 1px solid transparent;
        background: white;
        font-family: Arial, Helvetica, sans-serif;
        line-height: 1.125em;
        box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.25);
      }
      
}
