.GallerySection{
    position: relative;
    color: white;
    text-align: center;
    background: rgba(84, 140, 168, 0.2);
    width: 95%;
    margin: auto;
    border-radius: 10px;
    margin-top: 10px;
    padding-bottom: 8px;
    padding-top: 8px;
}

.GalleryInfo{
    padding-top: 10px;
    color: black;
    margin-left: 16px;
    margin-bottom: 10px;
    font-family: sans-serif;
}


.GalleryInfo h3{
    margin-top: 0px;
    margin-bottom: 4px;
    text-align: left;
    font-size: 24px;
}

.GalleryInfo p{
    text-align: left;
    font-size: 16px;
    margin-top: 0px;
    margin-bottom: 4px;
}

.flexrow{
    
}