.AboutSection{
    position: relative;
    text-align: center;
    background: rgba(84, 140, 168, 0.2);
    width: 95%;
    margin: auto;
    border-radius: 10px;
    margin-top: 10px;
    padding-bottom: 8px;
    padding-top: 8px;
    font-family: sans-serif;
}

.AboutInfo{
    padding-top: 10px;
    color: black;
    margin-left: 16px;
    margin-bottom: 10px;
    text-align: left;
}

.AboutInfo h3{
    margin-top: 0px;
    margin-bottom: 4px;
    font-family: sans-serif;
    text-align: left;
    font-size: 24px;
}

.AboutInfo p{
    font-size: 16px;
    margin-right: 16px;
}



  