.AboutSection{
    text-align: center;
    background: #DDE6E6;
    width: 95%;
    margin: auto;
    border-radius: 10px;
    margin-top: 10px;
    padding-bottom: 8px;
    padding-top: 8px;
    display: flex;
    flex-direction: column;
}

.AboutInfo{
    padding-top: 10px;
    padding-left: 20px;
    color: black;
    text-align: left;
}

.AboutInfo h3{
    margin-top: 0px;
    margin-bottom: 4px;
    font-family: sans-serif;
    font-size: 30px;
    width: 90%;
    text-align: left;
}

.AboutInfo p{
    font-size: 22px;
    font-weight: lighter;
    width: 90%;
}

.perkOne, .perkTwo, .perkThree, .perkFour{
    justify-content: space-between;
    display: flex;
width: 90%;
align-items: center;
justify-content: space-between;
  margin-bottom: 20px;

}

.AboutBox{
    font-size: 22px;
    background: #5D788B;
    border-radius: 10px;
    color: white;
 text-align: center;
  width: 74%;
  height: 12vh;
  font-weight: 400;

}
.AboutBox p{
    margin: 10px 5px 15px 5px;
    padding: 2px;
}

.arrow {
    margin-left: 30px;color: #5D788B;
}



/* öppettider */
.aboutEnd{
    margin-top: 10px;
}

.aboutEnd p, h4{
margin: 4px;
font-size: 24px;

}

.aboutEndOne {
font-weight: bolder !important;
}

@media screen and (min-width: 800px) {
   .AboutSection{
width: 97%;
   }
   
  .arrow svg{
    width: 70px;
    height: 70px;
  }
   .AboutInfo{
    text-align: left;
    padding: 0;
    display: flex;
    flex-direction: column;
    margin-left: 20px;
 margin-top: 4vh;

   }
   .AboutInfo p{
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    letter-spacing: -0.02em;
  
   }
   .AboutInfo h3{
         font-size: 40px;
   }
    .AboutPerks{
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
     
    }
    .perkOne, .perkTwo, .perkThree, .perkFour{
        margin-left: 5vw;
        width:520px;
        height: 23vh;
        font-size: 30px;
    }
    .AboutBox{
        width: 73% ;
        height: 20vh;
    font-size: 30px;
    font-weight: 400;
        padding-top: 20px;
    text-align: center;
    }
}
/* Per

* {
    margin: 0;
    padding: 0;
  }
  section {
    
    padding: 25px;
    background: rgba(84, 140, 168, 0.2);
    padding: 20px;
    margin-right: 10px;
    margin-left: 10px;
    border-radius: 12px 12px 12px 12px;
    position: absolute;
    margin-top: 50px;
    float: left;
    top:650px;
  }

  .container section{
    
    padding: 25px;
    background: rgba(84, 140, 168, 0.2);
    padding: 20px;
    margin-right: 10px;
    margin-left: 10px;
    border-radius: 12px 12px 12px 12px;
    position: absolute;
    margin-top: 50px;
    
    

}
  .cards {
   
    width: 204px;
    height: 243px;
    left: 0px;
    top: 293px;
    float: left;
    
    
  }
  .cards:hover {
    box-shadow: 0 10px 10px 10px rbga(0, 0, 0, 0.1);
    cursor: pointer;
  }
  img{
    
width: 227px;
height: 292px;
left: 146px;
top: 486px;
  }
  .image_box img {
    width: 150px;
    height: 200px;
    
  }
  
  .image_box img {
    width: 150px;
    height: 200px;
   
  }
  .details p:nth-child(1) {
    font-weight: bold;
  }
  .details p:nth-child(2) {
    color: grey;
    font-size: 0.8rem;
  }
  .details p:nth-child(3) {
    font-weight: bolx;
    color: grey;
  }

  ul li{

    background: rgba(84, 140, 168, 0.2);
    border-radius: 10px;
    direction: initial;
    display: block;
  }

    .nav_con{
    position: absolute;
    width: 1400px;
    height: 177px;
    left: 20px;
    background: rgba(84, 140, 168, 0.2);
    border-radius: 10px;
  }
  .items1{
    position: absolute;
    width: 144px;
    height: 42px;
    left: 367px;
    top: 75px;

    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
  }

  li {
position: absolute;
width: 83px;
height: 26px;
left: 398px;
top: 83px;

font-family: 'Work Sans';
font-style: normal;
font-weight: 600;
font-size: 22px;
line-height: 26px;
/* identical to box height */
/* 
display: flex;
align-items: center;
letter-spacing: -0.02em;

color: #FFFCF5;
  }
  .items2{
    position: absolute;
    width: 144px;
    height: 42px;
    left: 541px;
    top: 75px;

    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  }
  .items3{
position: absolute;
width: 144px;
height: 42px;
left: 715px;
top: 75px;

filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  }

  .items4{
position: absolute;
width: 144px;
height: 42px;
left: 889px;
top: 75px;

filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  }


   */ 
