
/* -----------------------------  Footer ---------------------------------- */
/* ------------------------------------------------------------------------ */

.footer{
    position: absolute;
    width: 1440px;
    height: 374px;
    left: 0px;
    top: 2820px;
    
    background: #002754;
}

.footer-container{
  height: 100%;
  max-width:650px;
  margin: auto;
  padding: 3rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}



.footer-icons{
    position: absolute;
    width: 300px;
    height: 112px;
    left: 361px;
    top: 126px;
}

.footer-icon{
  font-size: 3rem;
  color: grey;
  cursor: pointer;
  transition: all .3s;
}

.footer-icon:hover{
  transform: scale(1.3);
  color: white;
}

.footer-sub-start{
    position: absolute;
    width: 131px;
    height: 36px;
    left: 90px;
    top: 30px;
    
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    line-height: 35px;
    /* identical to box height */
    
    display: flex;
    align-items: center;
    letter-spacing: -0.02em;
    
    color: #CFEEFF;
}
.footer-sub-persion{
    position: absolute;
width: 124px;
height: 36px;
left: 361px;
top: 30px;

font-family: 'Work Sans';
font-style: normal;
font-weight: 600;
font-size: 30px;
line-height: 35px;
/* identical to box height */

display: flex;
align-items: center;
letter-spacing: -0.02em;

color: #CFEEFF;
}
.footer-sub-bok{
    position: absolute;
width: 145px;
height: 36px;
left: 625px;
top: 30px;

font-family: 'Work Sans';
font-style: normal;
font-weight: 600;
font-size: 30px;
line-height: 35px;
/* identical to box height */

display: flex;
align-items: center;
letter-spacing: -0.02em;

color: #CFEEFF;
}
.footer-sub-web{
    position: absolute;
width: 151px;
height: 36px;
left: 910px;
top: 30px;

font-family: 'Work Sans';
font-style: normal;
font-weight: 600;
font-size: 30px;
line-height: 35px;
/* identical to box height */

display: flex;
align-items: center;
letter-spacing: -0.02em;

color: #CFEEFF;

}
.footer-sub-mina{
    position: absolute;
width: 149px;
height: 36px;
left: 1201px;
top: 30px;

font-family: 'Work Sans';
font-style: normal;
font-weight: 600;
font-size: 30px;
line-height: 35px;
/* identical to box height */

display: flex;
align-items: center;
letter-spacing: -0.02em;

color: #CFEEFF;
}

.alt-location{
  display: none;
}

.wrapper{
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

@media (min-width:800px){
  .footer{
    height: 60vh;
  }
  .footer-container{
    justify-content: flex-end;
    padding: 2.5rem 0;
  }
  .footer-subheading{
    font-size: 1.7rem;
    margin-bottom: .2rem;
  }
  .footer-icon{
    font-size: 3.5rem;;
  }
  
 
}