.Menu {
  background-color: #4e78a9;
  width: 100vw;
  height: 10vh;
  position: fixed;
  z-index: 4;
}
.menu-mobile {
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10%;
  margin: 1rem 0 0 0;
  padding: 0 1rem;
}
.menu-mobile-cart-totalitems{
  position: absolute;
  width: 20px;
  height: 20px;
  text-align: center;
  right: -20%;
  top: -15%;
  font-weight: 500;
  background-color: white;
  border-radius: 50%;
}
.menu-mobile-logo {
  height: 4rem;
  margin-bottom: 0.8rem;
  transform: scale(1.2)
}
.menu-cart{
  position: relative;
}
.menu-mobile-cart {
  color: white;
  width: 2.6rem;
  height: 2.6rem;
}
.signup-section {
  position: absolute;
  top: 5%;
  width: 100%;
  display: flex;
  justify-content: center;
}
.menu-mobile-button {
  width: 2.6rem;
  height: 2.6rem;
  margin: 0;
}
.menu-mobile-button path {
  stroke: white;
}
.menu-desktop {
  display: none;
}
.active p {
  text-decoration: underline;
}

@media (min-width: 1000px) {
  .menu-mobile {
    display: none;
  }

  .Menu {
    width: 100vw;
  }

  .menu-desktop {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 50px;
  }

  .menu-desktop-logo {
    height: 4rem;
  }

  .menu-desktop-list {
    display: flex;
    margin-left: 100px;
    align-items: center;
  }
  .menu-desktop-list svg {
    width: 44px;
    height: 44px;
  }
  .menu-desktop-list svg:hover {
    color: #cfeeff;
    transition: 0.2s;
  }

  .menu-desktop-list p:hover {
    color: #cfeeff;
    transition: 0.1s;
  }

  .menu-desktop-items {
    list-style-type: none;
    margin-right: 34px;
  }
  .menu-desktop-items a {
    text-decoration: none;
  }

  .menu-desktop-item {
    color: white;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 1px;
    cursor: pointer;
    text-decoration: none;
  }

  .menu-desktop-cart {
    width: 32px;
    height: 32px;
    color: white;
    margin-left: 24px;
    cursor: pointer;
  }
  .menu-desktop-user {
    margin-left: 46px;
    width: 30px;
    height: 30px;
    color: white;
    cursor: pointer;
  }
  .menu-desktop-login {
    width: 450px;
    height: 300px;
    background: rgba(0, 39, 84, 0.5);
    float: right;
  }
  .menu-mobile-cart-totalitems{
    width: 20px;
    height: 20px;
    right: 2.5%;
    top: 10%;
  }
}
