body, html {
  margin:0;
  padding: 0;
}

/* ------------------------------------------------------------------------ */
/* -----------------------------  Footer ---------------------------------- */
/* ------------------------------------------------------------------------ */

.footer{
  height: 5%;

  background-color: rgb(206, 206, 246);
  display: flex;
  
  justify-content: center;
  align-items: center;
  padding-top: 250px;
}

.footer-container{
  height: 5%;
  max-width:650px;
  margin: auto;
  padding: 2rem;
  display: flex;
  
  flex-direction: column;
  justify-content: center;
}




.footer-sub{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: left;
  margin: 1.5rem;
  padding: 1px;
  color: grey;
}

.footer-subheading{
  color: grey;
  font-size: 1.25rem;
  text-align: center;
  cursor: pointer;
  transition: all .2s;
  margin-bottom: .5rem;
}

.footer-sub .footer-subheading{
  text-align: left;
}

.footer-subheading:hover{
  color: white;
}

.footer-copy{
 margin-top: 5rem;
 padding-top: 2rem;
 border-top: 1px solid grey;
}
.footer-desc{
  color: grey;
  text-align: left;
  font-weight: lighter;
}
.alt-location{
  display: none;
}

.wrapper{
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

@media (min-width:800px){
  .footer{
    height: 50vh;
  }
  .footer-container{
    justify-content: flex-end;
    padding: 2.5rem 0;
  }
  .footer-subheading{
    font-size: 1.7rem;
    margin-bottom: .2rem;
  }
  .footer-icon{
    font-size: 2.5rem;;
  }
  .footer-copy{
    margin-top: 2rem;
  }
 
}