
*{
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.list button{
  
width: 144px;
height: 42px;
background: #548CA8;
}

.container {
  margin-top: 5px;
  position: absolute;
  width: 1400px;
  height: 1243px;

background: rgba(84, 140, 168, 0.2);
border-radius: 10px;

}

.image_box ul  {

flex-direction: row;
align-items: flex-start;
padding: 7.95726px;
gap: 7.96px;
float: left;

}

.image_box img {
      width: 150px;
      height: 200px;
      float: left;
      
    }
    
   
    .details p:nth-child(1) {
      font-weight: bold;
    }
    .details p:nth-child(2) {
      color: grey;
      font-size: 0.8rem;
    }
    .details p:nth-child(3) {
      font-weight: bolx;
      color: grey;
    }

  .nav_con {
  
  width: 1400px;
  height: 177px;
  

  background: rgba(84, 140, 168, 0.2);
  border-radius: 10px;
 

    }
  
  

    