
.StaffBtn{
  cursor: pointer;
  width: 124px;
  height: 42px;
  border-radius: 10px;
  font-weight: 600;
  border: none;
  margin: 10px;
}

.StaffBtn:hover {
  border: 4px solid rgba(115, 167, 193);
  transition: 0.1s;
}
.personal-header{
  padding-top: 10px;
  padding-left: 20px;
  color: black;
  text-align: left;
}


.image_box {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.image_box ul {
  width: 140px;
  padding: 0;
  margin: 10px;
}
.image_box img {
  width: 140px;
  height: 160px;
  object-fit: cover;
  align-items: center;
}

.details p:nth-child(1) {
  font-weight: 600;
  font-size: 20px;
}
.details p:nth-child(2) {
  color: grey;
  font-size: 16px;
}

@media (min-width: 800px) {

}
